---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HeroBanner from "../components/HeroBanner.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section4 from "../components/Section4.astro";
import Carousel from "../components/Carousel.astro";
import Slider from "../components/Slider.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout
  title="SAMI - Sustainability Metrics - HUELLA DE CARBONO - HUELLA DEL AGUA"
>
  <main>
    <Header />
    <Hero />
    <HeroBanner />
    <Section1 />
    <Section2 />
    <Section3 />
    <Section4 />
    <Carousel />
    <Slider />
    <ContactForm />
  </main>
</Layout>
