---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HeroBanner from "../components/HeroBanner.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Hero />
    <HeroBanner />
    <Section1 />
    <Section2 />
  </main>
</Layout>
