---
import Divider from "./Divider.astro";
---

<!-- Slideshow container -->
<div class="slideshow-container px-4">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="huella_de_carbono.webp" style="width:100%" />
    <div class="text">CONTROLA TUS OPERACIONES EN CUALQUIER LUGAR</div>
  </div>

  <div class="mySlides fade">
    <img src="identifica.webp" style="width:100%" />
    <div class="text">CREA Y ENVÍA REPORTES DE SUSTENTABILIDAD</div>
  </div>

  <div class="mySlides fade">
    <img src="indicadores_ambientales.webp" style="width:100%" />
    <div class="text">
      MIDE, COMPARA & EVALÚA HUELLA DE CARBONO ENTRE OTROS DIECISIETE
      INDICADORES DE IMPACTO AMBIENTAL
    </div>
  </div>

  <!-- Next and previous buttons -->
  <!--   <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

  <!-- The dots/circles -->
  <div style="text-align:center" class="dots-container">
    <span class="dot" onclick="currentSlide(1)">
      <img src="boton_01.webp" alt="" />
    </span>
    <span class="dot" onclick="currentSlide(2)">
      <img src="boton_05.webp" alt="" />
    </span>
    <span class="dot" onclick="currentSlide(3)">
      <img src="boton_03.webp" alt="" />
    </span>
  </div>
</div>

<style>
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 2rem auto;
  }

  .dots-container {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 32px;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: lightgrey;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 20%;
    font-weight: 900;
    background: linear-gradient(to right, #0071bc, #49c9e6 100%);
    -webkit-background-clip: text; /* Muestra el fondo como el texto */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente para que el fondo se vea */
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script is:inline>
  /*   let slideIndex = 1;
  showSlides(slideIndex); */
  let slideIndex = 0;
  showSlides();

  // Next/previous controls
  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
  }
</script>
