---
import Divider from "./Divider.astro";
---

<section class="flex flex-col lg:flex-row justify-evenly py-10 text-[#B4BAC0]">
  <div class="px-4 lg:pl-36 lg:w-[45%]">
    <p class="text-center text-xl mb-5 leading-9 tracking-wider">
      "Una red neuronal que vincula todos los índices de sustentabilidad entre
      clientes, negocios y proveedores"
    </p>

    <p class="text-justify text-xs mb-4">
      La sustentabilidad siempre se evalúa a puertas cerradas, no obstante, los
      impactos más relevantes se producen en el entorno del negocio.
    </p>

    <div class="flex">
      <img
        src="romain.webp"
        class="rounded-full w-[75px] h-[75px] mr-4"
        alt=""
      />
      <div>
        <p class="text-justify text-xs mb-1">
          Con&nbsp; SAMI pudimos detectar los puntos críticos en la cadena de
          valor, realizar mejoras internas y en conjunto con los proveedores"
        </p>
        <p class="text-xs">- Romaín Charnay</p>
      </div>
    </div>
  </div>
  <div class="mt-10 lg:mt-0">
    <img src="1.gif" alt="" class="w-4/5 lg:w-full m-auto" />
  </div>
</section>

<Divider />
