<section
  class="flex flex-col lg:flex-row justify-center items-center text-white py-4 h-auto"
>
  <div class="px-4 mb-4 lg:max-w-[45%] leading-8 text-justify">
    En el mundo globalizado, las organizaciones no pueden trabajar en materia de
    sustentabilidad de forma aislada y estática. Es indispensable vincular los
    impactos ambientales que se encuentran entrelazados dentro de la cadena de
    valor, y al mismo tiempo obtener reducciones de estos indicadores de manera
    eficiente y significativa.<br />
    <br />
    <p>
      SAMI es una red neuronal de sustentabilidad que genera este vínculo de
      manera automatizada y dinámica, dándote el control sobre la
      sustentabilidad.
    </p>
  </div>

  <img
    src="evaluated_climate_change_by_sami.webp"
    alt=""
    class="w-[250px] h-[240px]"
  />
</section>

<style>
  section {
    background: -webkit-gradient(
      linear,
      left center,
      right center,
      from(#0071bc),
      color-stop(100%, #49c9e6)
    );
    background: -webkit-linear-gradient(left, #0071bc, #49c9e6 100%);
    background: linear-gradient(to right, #0071bc, #49c9e6 100%);
    filter: alpha(opacity=71) progid:
      DXImageTransform.Microsoft.gradient(
        startColorstr=#FF0071BC,
        endColorstr=#FF49C9E6,
        GradientType=1
      );
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0071BC', endColorstr='#FF49C9E6', GradientType=1)";
    opacity: 0.71;
    background-size: 100% auto;
  }
</style>
