<section class="flex flex-col lg:flex-row justify-evenly py-10">
  <div>
    <p id="main-text">
      "Una red neuronal que vincula todos los índices de sustentabilidad entre
      clientes, negocios y proveedores"
    </p>

    <p id="u4568-4">
      La sustentabilidad siempre se evalúa a puertas cerradas, no obstante, los
      impactos más relevantes se producen en el entorno del negocio.
    </p>

    <div class="flex">
      <img
        src="romain.webp"
        class="rounded-full"
        alt=""
        height="76"
        width="76"
      />
      <div id="lala">
        <p>
          Con&nbsp; SAMI pudimos detectar los puntos críticos en la cadena de
          valor, realizar mejoras internas y en conjunto con los proveedores"
        </p>
        <p>- Romaín Charnay</p>
      </div>
    </div>
  </div>
  <div>
    <img src="1.gif" alt="" />
  </div>
</section>

<style>
  #main-text {
    z-index: 63;
    width: 427px;
    min-height: 135px;
    background-color: transparent;
    text-align: left;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 4px;
    color: #b4bac0;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 20px;
    position: relative;
  }

  #u4568-4 {
    z-index: 75;
    width: 427px;
    min-height: 58px;
    background-color: transparent;
    text-align: justify;
    font-size: 13px;
    line-height: 25px;
    color: #b4bac0;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 6px;
    position: relative;
  }

  #lala {
    z-index: 97;
    width: 325px;
    min-height: 68px;
    background-color: transparent;
    text-align: justify;
    font-size: 11px;
    line-height: 19px;
    color: #b4bac0;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    left: 74px;
  }
</style>
