---
import Divider from "./Divider.astro";
---

<section
  class="flex flex-col lg:flex-row justify-evenly items-center py-10 text-[#B4BAC0]"
>
  <div class="px-4 lg:pl-36 lg:w-[45%]">
    <p class="text-justify text-xl mb-5 leading-9 tracking-wider">
      La forma más potente y sencilla de realizar Análisis de Ciclo de Vida
      (ACV)
    </p>

    <p class="text-justify text-sm mb-4">
      Este nuevo enfoque permite centrase en los resultados, análisis de datos,
      reportabilidad y gestión, que es lo indispensable para mejorar los índices
      ambientales de organizaciones y productos.
    </p>

    <p class="text-end text-xs mb-4 pl-20">
      "Estamos controlando el desempeño ambiental de nuestros proyectos día a
      día de manera automatizada"
    </p>
  </div>

  <div>
    <img src="/2.gif" alt="" class="w-4/5 lg:w-full m-auto" />
  </div>
</section>

<Divider />
