---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/sami-pirata.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="SAMI sustainability metrics - Herramienta web de medición de desempeño sustentable: Huella de Carbono, Huella del Agua, Huella de Residuos, Huella energética. Acorde a los más altos estándares internacionales, desarrollada para la evaluación de todo tipo productos, servicios y organizaciones. SAMI es una herramienta de cálculo de impactos ambientales de productos basada en la metodología de Análisis de Ciclo de Vida, que es parte de las normas ISO 14040."
    />
    <meta
      name="keywords"
      content="Huella de carbono, Huella del agua, huella hidrica, bonos de carbono, carbono nutro, carbono neutral, medición huella de carbono, Ciclo de vida, curso aCV, aprender aCV, capacitación aCV, certificar aCV, diploma aCV, software aCV, clases de aCV, universidad aCV, declaración ambiental de producto, curso Ciclo de vida, aprender Ciclo de vida, capacitación Ciclo de vida, certificar Ciclo de vida, diploma Ciclo de vida, software Ciclo de vida, clases de Ciclo de vida, universidad Ciclo de vida, huella de carbono, huella de carbon, sustentable, chile, santiago, las condes, providencia, sustentabilidad, huella del agua, certificación, medición, huella_de_carbono, medición energética, carbono neutro, medir huella de carbono, gestion huella de carbono, carbono neutral, empresa carbono neutro, servicio certificacion, sustentable, medir huella de carbono chile, medicion huella de carbono santiago"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    background: white;
    font-family: "Raleway", sans-serif;
  }
</style>
