---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="SAMI">
  <main>
    <div class="form flex justify-center flex-col gap-y-6">
      <img src="/sami-pirata.webp" alt="" class="w-32 self-center" />
      <h2 class="text-white text-xl lg:text-3xl text-center">INICIAR SESIÓN</h2>

      <div class="flex flex-col gap-y-4">
        <span class="flex flex-col gap-y-1">
          <label for="username" class="text-white">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="rounded-md h-8"
          />
        </span>

        <span class="flex flex-col gap-y-1">
          <label for="username" class="text-white">Contraseña</label>
          <input
            type="text"
            id="password"
            name="password"
            class="rounded-md h-8"
          />
        </span>

        <span class="flex justify-center">
          <button> Iniciar Sesión </button>
        </span>
        <span class="text-white">
          <a href=""> ¿Olvidaste la contraseña?</a>
        </span>

        <hr />

        <p class="text-white text-center text-sm lg:text-base">
          NO TIENES CUENTA?
        </p>
        <span class="text-white">
          Contáctate con nosotros a sami@samimetrics.com
        </span>
      </div>
    </div>
  </main>
</Layout>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    background: white;
    font-family: "Raleway", sans-serif;
  }

  body {
    background: -webkit-linear-gradient(left, #0071bc, #49c9e6 100%);
    background: linear-gradient(to right, #0071bc, #49c9e6 100%);
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }

  input {
    padding: 8px;
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    color: white;
    font-weight: 800;
    background: -webkit-linear-gradient(left, #005f99, #33b3d6 100%);
    background: linear-gradient(to right, #005f99, #33b3d6 100%);
  }
</style>
